packages/*
melange-cache/*
generated/*
local-melange.rsa*
melange.rsa*
dag.svg
.idea
.packagerules
.melange.k8s.yaml
packages.log
*.iml
*.apk
APKINDEX.tar.gz

# macOS
.DS_Store

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
