package:
  name: apisix-ingress-controller
  version: "2.0.1"
  epoch: 4 # CVE-2025-61732
  description: APISIX Ingress Controller for Kubernetes.
  copyright:
    - license: Apache-2.0
  resources:
    cpu: "4"
    memory: 5Gi

var-transforms:
  - from: ${{package.version}}
    match: ^(\d+).*
    replace: $1
    to: major-version

pipeline:
  - uses: git-checkout
    with:
      expected-commit: 9b34e1290a6ae5ef7fe73d5afa60507bff9487c8
      repository: https://github.com/apache/apisix-ingress-controller
      tag: ${{package.version}}

  - uses: go/build
    with:
      packages: cmd/main.go
      ldflags: |
        -X=github.com/apache/apisix-ingress-controller/internal/version._buildVersion=${{package.version}}
        -X=github.com/apache/apisix-ingress-controller/internal/version._buildGitRevision=$(git rev-parse --short HEAD)
        -X=github.com/apache/apisix-ingress-controller/internal/version._buildOS=$(uname -s)/$(uname -m)
        -X=github.com/apache/apisix-ingress-controller/internal/manager._minK8sVersion=1.26.0
      output: apisix-ingress-controller

subpackages:
  - name: ${{package.name}}-compat
    description: Compatibility package for apisix-ingress-controller to match upstream paths
    pipeline:
      - runs: |
          mkdir -p ${{targets.contextdir}}/app
          ln -sf ../../usr/bin/apisix-ingress-controller ${{targets.subpkgdir}}/app/apisix-ingress-controller
    test:
      environment:
        contents:
          packages:
            - ${{package.name}}
      pipeline:
        - uses: test/tw/symlink-check

  - name: ${{package.name}}-iamguarded-compat
    description: Compat package for iamguarded apisix-ingress-controller image
    pipeline:
      - uses: iamguarded/build-compat
        with:
          package: apisix-ingress-controller
          version: ${{vars.major-version}}
      - runs: |
          mkdir -p ${{targets.contextdir}}/opt/iamguarded/apisix-ingress-controller/bin
          ln -sf ../../../../usr/bin/apisix-ingress-controller ${{targets.contextdir}}/opt/iamguarded/apisix-ingress-controller/bin/apisix-ingress-controller
      - uses: iamguarded/finalize-compat
        with:
          package: apisix-ingress-controller
          version: ${{vars.major-version}}
    test:
      environment:
        contents:
          packages:
            - ${{package.name}}
            - curl
            - git
            - kustomize
            - wait-for-it
        environment:
          PATH: "/opt/iamguarded/apisix-ingress-controller/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
          IAMGUARDED_APP_NAME: "apisix-ingress-controller"
      pipeline:
        - pipeline:
            - uses: test/tw/symlink-check
            - uses: test/tw/ver-check
              with:
                bins: apisix-ingress-controller
            - uses: test/kwok/cluster
            - uses: test/daemon-check-output
              with:
                setup: |
                  kubectl config view --minify --raw > /tmp/kubeconfig.yaml

                  # Install APISIX CRDs using local kustomization file
                  sed -i "s/VERSION/${{package.version}}/g" kustomization.yaml
                  kubectl apply -k .
                start: |
                  /opt/iamguarded/apisix-ingress-controller/bin/apisix-ingress-controller --config-path /tmp/kubeconfig.yaml
                timeout: 30
                expected_output: |
                  successfully acquired lease
                  started status update handler
                  readiness manager started
                  Ready detected
                post: |
                  wait-for-it localhost:8080
                  DURATION_ONE="$(curl -fsSL http://127.0.0.1:8080/metrics | grep -F -e go_gc_duration_seconds)"
                  sleep 2
                  DURATION_TWO="$(curl -fsSL http://127.0.0.1:8080/metrics | grep -q go_gc_duration_seconds)"
                  if [ "${DURATION_ONE}" == "${DURATION_TWO}" ] ; then
                      echo "Expected durations to be different, output may be garbled"
                      exit 1
                  fi

# This repo has switched back and forth from a v-prefix to no v-prefix, for future reference
update:
  enabled: true
  ignore-regex-patterns:
    - -rc\d+$
  github:
    identifier: apache/apisix-ingress-controller
    use-tag: true

test:
  environment:
    contents:
      packages:
        - curl
        - git
        - kustomize
        - wait-for-it
  pipeline:
    - uses: test/tw/help-check
      with:
        bins: apisix-ingress-controller
    - uses: test/tw/ver-check
      with:
        bins: apisix-ingress-controller
    - uses: test/kwok/cluster
    - uses: test/daemon-check-output
      with:
        setup: |
          kubectl config view --minify --raw > /tmp/kubeconfig.yaml

          # Install APISIX CRDs using local kustomization file
          sed -i "s/VERSION/${{package.version}}/g" kustomization.yaml
          kubectl apply -k .
        start: |
          apisix-ingress-controller --config-path /tmp/kubeconfig.yaml
        timeout: 60
        expected_output: |
          successfully acquired lease
          started status update handler
          readiness manager started
          Ready detected
        post: |
          wait-for-it localhost:8080
          DURATION_ONE="$(curl -fsSL http://127.0.0.1:8080/metrics | grep -F -e go_gc_duration_seconds)"
          sleep 2
          DURATION_TWO="$(curl -fsSL http://127.0.0.1:8080/metrics | grep -q go_gc_duration_seconds)"
          if [ "${DURATION_ONE}" == "${DURATION_TWO}" ] ; then
              echo "Expected durations to be different, output may be garbled"
              exit 1
          fi
