# Require review by repo owners of changes to CODEOWNERS
CODEOWNERS @wolfi-dev/wolfi-owners

# Makefile and pipeline changes require approval of the Guarded OS squad.
Makefile   @wolfi-dev/foundations-squad
pipelines/ @wolfi-dev/foundations-squad

# These packages require approval from the Foundations squad.
abseil-cpp.yaml      @wolfi-dev/foundations-squad
ca-certificates.yaml @wolfi-dev/foundations-squad
glibc.yaml           @wolfi-dev/foundations-squad
openssh.yaml         @wolfi-dev/foundations-squad
openssl.yaml         @wolfi-dev/foundations-squad
