# Require review by repo owners of changes to CODEOWNERS
CODEOWNERS @wolfi-dev/foundations-squad

# Important CI and Repo configuration
.github/ @wolfi-dev/foundations-squad
scripts/ @wolfi-dev/foundations-squad

# Makefile and pipeline changes require approval of the Guarded OS squad.
Makefile   @wolfi-dev/foundations-squad
pipelines/ @wolfi-dev/foundations-squad

# These packages require approval from the Foundations squad.
abseil-cpp.yaml      @wolfi-dev/foundations-squad
ca-certificates.yaml @wolfi-dev/foundations-squad
clang-*.yaml         @wolfi-dev/foundations-squad
curl.yaml            @wolfi-dev/foundations-squad
curl-rustls.yaml     @wolfi-dev/foundations-squad
gcc*.yaml            @wolfi-dev/foundations-squad
glibc.yaml           @wolfi-dev/foundations-squad
llvm*.yaml           @wolfi-dev/foundations-squad
openssh.yaml         @wolfi-dev/foundations-squad
openssl.yaml         @wolfi-dev/foundations-squad
