# Each line is a file pattern followed by one or more owners.

# The foundations-squad includes members of the of the former Foundations
# team and the Guarded OS team and the larger team provides more around the
# clock coverage so should not change in the near future.

# Require review by repo owners of changes to CODEOWNERS
CODEOWNERS @wolfi-dev/foundations-squad

# Important CI and Repo configuration
.github/                @wolfi-dev/foundations-squad
.pre-commit-config.yaml @wolfi-dev/foundations-squad

# Makefile and pipeline changes require approval of the Foundations squad.
Makefile   @wolfi-dev/foundations-squad
pipelines/ @wolfi-dev/foundations-squad

# These packages require approval from the Foundations squad.
ca-certificates.yaml @wolfi-dev/foundations-squad
clang-*.yaml         @wolfi-dev/foundations-squad
curl.yaml            @wolfi-dev/foundations-squad
curl-rustls.yaml     @wolfi-dev/foundations-squad
gcc*.yaml            @wolfi-dev/foundations-squad
glibc.yaml           @wolfi-dev/foundations-squad
llvm*.yaml           @wolfi-dev/foundations-squad
openssh.yaml         @wolfi-dev/foundations-squad
openssl.yaml         @wolfi-dev/foundations-squad
nats*.yaml           @wolfi-dev/sustaining-team
