package:
  name: kubernetes-ingress-defaultbackend
  version: 1.26.0
  epoch: 0
  description: 'A simple web server that respond 404 common used in kubernetes ingress, serve pages 404 at root and 200 at /healthz'
  copyright:
    - license: Apache-2.0

environment:
  contents:
    packages:
      - wolfi-baselayout
      - busybox
      - build-base
      - go
      - ca-certificates-bundle
  environment:
    CGO_ENABLED: 0

pipeline:
  - uses: git-checkout
    with:
      repository: https://github.com/kubernetes/ingress-gce
      tag: v${{package.version}}
      expected-commit: bdbf2d0c054f49cc78e299b45c01b28281d64e85

  - uses: go/build
    with:
      packages: ./cmd/404-server
      output: defaultbackend
      ldflags: -s -w
      vendor: true

  - uses: strip

update:
  enabled: true
  github:
    identifier: kubernetes/ingress-gce
    use-tag: true
    strip-prefix: v
