package:
  name: nginx-prometheus-exporter
  version: 1.4.0
  epoch: 2
  description: NGINX Prometheus Exporter for NGINX and NGINX Plus
  copyright:
    - license: Apache-2.0

pipeline:
  - uses: git-checkout
    with:
      expected-commit: eb921f6062ff814acf8913cade92def952dfbe2e
      repository: https://github.com/nginxinc/nginx-prometheus-exporter
      tag: v${{package.version}}

  - uses: go/bump
    with:
      deps: golang.org/x/crypto@v0.31.0 golang.org/x/net@v0.33.0

  - uses: go/build
    with:
      ldflags: |
        -w
        -X=github.com/prometheus/common/version.Version=${{package.version}}
        -X=main.version=${{package.version}}
      output: nginx-prometheus-exporter
      packages: .

update:
  enabled: true
  github:
    identifier: nginxinc/nginx-prometheus-exporter
    strip-prefix: v

test:
  environment:
    contents:
      packages:
        - curl
        - shadow
        - nginx
  pipeline:
    - name: "Verify Installation"
      runs: nginx-prometheus-exporter --version
    - name: "start daemon"
      uses: test/daemon-check-output
      with:
        start: nginx-prometheus-exporter
        timeout: 60
        setup: |
          useradd nginx
          mkdir -p /var/lib/nginx/logs
          mkdir -p /var/lib/nginx/tmp
          nginx -g "daemon off;" &
        expected_output: |
          Listening on
        post: |
          #!/bin/sh -e
          response=$(curl -s localhost:9113/metrics)
          if ! echo "$response" | grep -q 'nginx_up'; then
            echo "expected metric not found"
            echo "$response"
            exit 1
          fi
