package:
  name: prometheus-operator
  version: 0.78.2
  epoch: 1
  description: Prometheus Operator creates/configures/manages Prometheus clusters atop Kubernetes
  copyright:
    - license: Apache-2.0

environment:
  contents:
    packages:
      - bash
      - build-base
      - busybox
      - ca-certificates-bundle
      - git
      - go
      - openssl

pipeline:
  - uses: git-checkout
    with:
      repository: https://github.com/prometheus-operator/prometheus-operator.git
      tag: v${{package.version}}
      expected-commit: 9efea40e09ee6d80627c40b0ef208af200ecd7d5

  - uses: go/bump
    with:
      deps: golang.org/x/crypto@v0.31.0

  - uses: autoconf/make
    with:
      opts: operator

  - runs: |
      mkdir -p "${{targets.contextdir}}/usr/bin"
      cp ./operator "${{targets.contextdir}}/usr/bin"

  - runs: |
      # test uses the -race flag which is incompatible with -buildmode=pie
      unset GOFLAGS
      make test-unit

subpackages:
  - name: prometheus-config-reloader
    description: Prometheus Operator creates/configures/manages Prometheus clusters atop Kubernetes
    pipeline:
      - uses: autoconf/make
        with:
          opts: prometheus-config-reloader
      - runs: |
          mkdir -p "${{targets.contextdir}}/usr/bin"
          mv ./prometheus-config-reloader "${{targets.contextdir}}/usr/bin"

  - name: prometheus-config-reloader-oci-entrypoint-compat
    pipeline:
      - runs: |
          mkdir -p "${{targets.contextdir}}/bin"
          ln -s /usr/bin/prometheus-config-reloader "${{targets.contextdir}}/bin/prometheus-config-reloader"

  - name: prometheus-admission-webhook
    description: Prometheus Operator creates/configures/manages Prometheus clusters atop Kubernetes
    pipeline:
      - uses: autoconf/make
        with:
          opts: admission-webhook
      - runs: |
          mkdir -p "${{targets.contextdir}}/usr/bin"
          mv ./admission-webhook "${{targets.contextdir}}/usr/bin"
    test:
      pipeline:
        - runs: |
            admission-webhook --version
            admission-webhook --help

  - name: prometheus-admission-webhook-compat
    pipeline:
      - runs: |
          mkdir -p "${{targets.contextdir}}/bin"
          ln -s /usr/bin/admission-webhook "${{targets.contextdir}}/bin/admission-webhook"

update:
  enabled: true
  github:
    identifier: prometheus-operator/prometheus-operator
    strip-prefix: v

test:
  pipeline:
    - name: "Check operator binary"
      runs: |
        operator --version
        operator --help
    - name: "Setup mock Kubernetes cluster"
      uses: test/kwok/cluster
    - name: "Test prometheus-operator with mock API server"
      runs: |
        output=$(operator --log-level=debug \
          --apiserver $(kubectl config view --minify -o jsonpath='{.clusters[0].cluster.server}') \
          -tls-insecure 2>&1 || true)

        echo "$output" | grep -q "Starting Prometheus Operator" || {
          echo "Expected output not found: Starting Prometheus Operator"
          exit 1
        }

        # The operator will fail because it doesn't expose a simple way to just use our kubeconfig, so just check for the known errors
        echo "$output" | grep -q "failed to check StorageClass support" || {
          echo "Expected error not found: failed to check StorageClass support"
          exit 1
        }
