package:
  name: prometheus-config-reloader
  version: 0.66.0
  epoch: 0
  description: Prometheus Operator creates/configures/manages Prometheus clusters atop Kubernetes
  copyright:
    - license: Apache-2.0

environment:
  contents:
    packages:
      - ca-certificates-bundle
      - busybox
      - bash
      - go
      - git
      - build-base

pipeline:
  - uses: git-checkout
    with:
      repository: https://github.com/prometheus-operator/prometheus-operator.git
      tag: v${{package.version}}
      destination: ${{package.name}}
      expected-commit: e21bdb5675e24d94504d530fd19fb89627a631a3

  - working-directory: ${{package.name}}
    pipeline:
      - uses: autoconf/make
        with:
          opts: prometheus-config-reloader
      - runs: |
          mkdir -p "${{targets.destdir}}/usr/bin"
          mv ./prometheus-config-reloader "${{targets.destdir}}/usr/bin"
      - runs: |
          # test uses the -race flag which is incompatible with -buildmode=pie
          unset GOFLAGS
          make test-unit

subpackages:
  - name: ${{package.name}}-oci-entrypoint-compat
    pipeline:
      - runs: |
          mkdir -p "${{targets.subpkgdir}}/bin"
          ln -s /usr/bin/prometheus-config-reloader "${{targets.subpkgdir}}/bin/prometheus-config-reloader"
    dependencies:
      runtime:
        - prometheus-config-reloader

update:
  enabled: true
  github:
    identifier: prometheus-operator/prometheus-operator
    strip-prefix: v
