package:
  name: prometheus-operator
  version: 0.68.0
  epoch: 4
  description: Prometheus Operator creates/configures/manages Prometheus clusters atop Kubernetes
  copyright:
    - license: Apache-2.0

environment:
  contents:
    packages:
      - ca-certificates-bundle
      - busybox
      - bash
      - go
      - git
      - build-base
      - openssl

pipeline:
  - uses: git-checkout
    with:
      repository: https://github.com/prometheus-operator/prometheus-operator.git
      tag: v${{package.version}}
      expected-commit: 52526e3b0cfb5f3deaa967998ff88a5133f1ec0f

  - runs: |
      # Handle CVE-2023-39325 and CVE-2023-3978
      go get golang.org/x/net@v0.17.0
      go mod tidy

  - uses: autoconf/make
    with:
      opts: operator

  - runs: |
      mkdir -p "${{targets.contextdir}}/usr/bin"
      cp ./operator "${{targets.contextdir}}/usr/bin"

  - runs: |
      # test uses the -race flag which is incompatible with -buildmode=pie
      unset GOFLAGS
      make test-unit

subpackages:
  - name: prometheus-config-reloader
    description: Prometheus Operator creates/configures/manages Prometheus clusters atop Kubernetes
    pipeline:
      - uses: autoconf/make
        with:
          opts: prometheus-config-reloader
      - runs: |
          mkdir -p "${{targets.contextdir}}/usr/bin"
          mv ./prometheus-config-reloader "${{targets.contextdir}}/usr/bin"

  - name: prometheus-config-reloader-oci-entrypoint-compat
    pipeline:
      - runs: |
          mkdir -p "${{targets.contextdir}}/bin"
          ln -s /usr/bin/prometheus-config-reloader "${{targets.contextdir}}/bin/prometheus-config-reloader"
    dependencies:
      runtime:
        - prometheus-config-reloader

update:
  enabled: true
  github:
    identifier: prometheus-operator/prometheus-operator
    strip-prefix: v
