package:
  name: prometheus-pushgateway
  version: 1.6.2
  epoch: 1
  description: Push acceptor for ephemeral and batch jobs.
  copyright:
    - license: Apache-2.0

environment:
  contents:
    packages:
      - ca-certificates-bundle
      - busybox
      - bash
      - build-base
      - go
      - curl

pipeline:
  - uses: git-checkout
    with:
      repository: https://github.com/prometheus/pushgateway
      tag: v${{package.version}}
      expected-commit: dd0ca68e2cf68ba061ed9e73b19e1928a4f6338f

  - runs: |
      make build

  - runs: |
      install -Dm755 pushgateway "${{targets.destdir}}"/usr/bin/pushgateway

  - uses: strip

update:
  enabled: true
  github:
    identifier: prometheus/pushgateway
    strip-prefix: v
