package:
  name: py3-configargparse
  version: 1.7
  epoch: 2
  description: A drop-in replacement for argparse that allows options to also be set via config files and/or environment variables.
  copyright:
    - license: MIT
  dependencies:
    provider-priority: "0"

vars:
  pypi-package: configargparse
  import: configargparse

data:
  - name: py-versions
    items:
      3.10: '310'
      3.11: '311'
      3.12: '312'
      3.13: '313'

environment:
  contents:
    packages:
      - py3-supported-build-base

pipeline:
  - uses: git-checkout
    with:
      repository: https://github.com/bw2/ConfigArgParse
      tag: ${{package.version}}
      expected-commit: ee77f44d03415f2afe73c82096bae2293db29a3b

subpackages:
  - range: py-versions
    name: py${{range.key}}-${{vars.pypi-package}}
    description: python${{range.key}} version of ${{vars.pypi-package}}
    dependencies:
      provider-priority: ${{range.value}}
      provides:
        - py3-${{vars.pypi-package}}
    pipeline:
      - uses: py/pip-build-install
        with:
          python: python${{range.key}}
      - uses: strip
    test:
      pipeline:
        - uses: python/import
          with:
            python: python${{range.key}}
            imports: |
              import ${{vars.import}}

  - name: py3-supported-${{vars.pypi-package}}
    description: meta package providing ${{vars.pypi-package}} for supported python versions.
    dependencies:
      runtime:
        - py3.10-${{vars.pypi-package}}
        - py3.11-${{vars.pypi-package}}
        - py3.12-${{vars.pypi-package}}
        - py3.13-${{vars.pypi-package}}

test:
  pipeline:
    - uses: python/import
      with:
        imports: |
          import ${{vars.import}}
    - uses: py/one-python
      with:
        content: |
          DBSNP_PATH=./package_test_here python3 ./config_test.py --my-config ./config.txt f1.vcf f2.vcf

update:
  enabled: true
  github:
    identifier: bw2/ConfigArgParse
