package:
  name: py3-pkgconfig
  version: "1.5.5"
  epoch: 7
  description: Interface Python with pkg-config
  copyright:
    - license: MIT
  dependencies:
    provider-priority: "0"

vars:
  pypi-package: pkgconfig

data:
  - name: py-versions
    items:
      3.10: '310'
      3.11: '311'
      3.12: '312'
      3.13: '313'

environment:
  contents:
    packages:
      - build-base
      - busybox
      - ca-certificates-bundle
      - py3-supported-pip
      - py3-supported-poetry-core
      - wolfi-base

pipeline:
  - uses: fetch
    with:
      expected-sha256: deb4163ef11f75b520d822d9505c1f462761b4309b1bb713d08689759ea8b899
      uri: https://files.pythonhosted.org/packages/source/p/pkgconfig/pkgconfig-${{package.version}}.tar.gz

subpackages:
  - range: py-versions
    name: py${{range.key}}-${{vars.pypi-package}}
    description: python${{range.key}} version of ${{vars.pypi-package}}
    dependencies:
      provider-priority: ${{range.value}}
      provides:
        - py3-${{vars.pypi-package}}
    pipeline:
      - uses: py/pip-build-install
        with:
          python: python${{range.key}}
      - uses: strip
    test:
      pipeline:
        - uses: python/import
          with:
            python: python${{range.key}}
            import: ${{vars.pypi-package}}

  - name: py3-supported-${{vars.pypi-package}}
    description: meta package providing ${{vars.pypi-package}} for supported python versions.
    dependencies:
      runtime:
        - py3.10-${{vars.pypi-package}}
        - py3.11-${{vars.pypi-package}}
        - py3.12-${{vars.pypi-package}}
        - py3.13-${{vars.pypi-package}}

update:
  enabled: true
  release-monitor:
    identifier: 209128
