package:
  name: py3-routes
  version: "2.5.1"
  epoch: 0
  description: "Speedy and dynamic URL generation Rails style for Python"
  copyright:
    - license: MIT
  dependencies:
    provider-priority: "0"

vars:
  pypi-package: routes

data:
  - name: py-versions
    items:
      3.10: '310'
      3.11: '311'
      3.12: '312'
      3.13: '313'

environment:
  contents:
    packages:
      - py3-supported-build-base-dev

pipeline:
  - uses: git-checkout
    with:
      expected-commit: 403f664c8790452d20dff7dfab159e6dc4aff443
      repository: https://github.com/bbangert/routes
      tag: v${{package.version}}

subpackages:
  - range: py-versions
    name: py${{range.key}}-${{vars.pypi-package}}
    description: ${{vars.pypi-package}} installed for python${{range.key}}
    dependencies:
      provides:
        - py3-${{vars.pypi-package}}
      provider-priority: ${{range.value}}
      runtime:
        - py${{range.key}}-six
        - py${{range.key}}-repoze.lru
    pipeline:
      - uses: py/pip-build-install
        with:
          python: python${{range.key}}
      - uses: strip
    test:
      pipeline:
        - uses: python/import
          with:
            python: python${{range.key}}
            import: ${{vars.pypi-package}}

  - name: py3-supported-${{vars.pypi-package}}
    description: meta package providing ${{vars.pypi-package}} for supported python versions.
    dependencies:
      runtime:
        - py3.10-${{vars.pypi-package}}
        - py3.11-${{vars.pypi-package}}
        - py3.12-${{vars.pypi-package}}
        - py3.13-${{vars.pypi-package}}

update:
  enabled: true
  github:
    identifier: bbangert/routes
    use-tag: true
    strip-prefix: v
