package:
  name: py3-keras-applications
  version: 1.0.8
  epoch: 3
  description: Reference implementations of popular deep learning models
  copyright:
    - license: MIT
  dependencies:
    provider-priority: 0

vars:
  pypi-package: keras-applications
  import: keras_applications

data:
  - name: py-versions
    items:
      3.10: '310'
      3.11: '311'
      3.12: '312'
      3.13: '313'

environment:
  contents:
    packages:
      - py3-supported-build-base

pipeline:
  - uses: fetch
    with:
      expected-sha256: 5579f9a12bcde9748f4a12233925a59b93b73ae6947409ff34aa2ba258189fe5
      uri: https://files.pythonhosted.org/packages/source/K/Keras-Applications/Keras_Applications-${{package.version}}.tar.gz

subpackages:
  - range: py-versions
    name: py${{range.key}}-${{vars.pypi-package}}
    description: python${{range.key}} version of ${{vars.pypi-package}}
    dependencies:
      provider-priority: ${{range.value}}
      provides:
        - py3-${{vars.pypi-package}}
      runtime:
        - numpy
        - py${{range.key}}-h5py
    pipeline:
      - uses: py/pip-build-install
        with:
          python: python${{range.key}}
      - uses: strip
    test:
      pipeline:
        - uses: python/import
          with:
            python: python${{range.key}}
            imports: |
              import ${{vars.import}}

  - name: py3-supported-${{vars.pypi-package}}
    description: meta package providing ${{vars.pypi-package}} for supported python versions.
    dependencies:
      runtime:
        - py3.10-${{vars.pypi-package}}
        - py3.11-${{vars.pypi-package}}
        - py3.12-${{vars.pypi-package}}
        - py3.13-${{vars.pypi-package}}

test:
  pipeline:
    - uses: python/import
      with:
        imports: |
          import ${{vars.import}}

update:
  enabled: false
  exclude-reason: >
    The modular keras-preprocessing package has been retired upstream in favor of monolithic "keras" package, but Tensorflow itself has not made the jump yet.

