package:
  name: ruby3.2-prometheus-client
  version: 4.2.2
  epoch: 0
  description: A suite of instrumentation metric primitivesthat can be exposed through a web services interface.
  copyright:
    - license: Apache-2.0

environment:
  contents:
    packages:
      - build-base
      - busybox
      - ca-certificates-bundle
      - git
      - ruby-3.2
      - ruby-3.2-dev

pipeline:
  - uses: fetch
    with:
      expected-sha256: 6ff91792875e5132cd14c64c29dfe451c69d3d59dc4c67aeff461fafbe8d35d9
      uri: https://github.com/prometheus/client_ruby/archive/refs/tags/v${{package.version}}.tar.gz

  - uses: ruby/build
    with:
      gem: ${{vars.gem}}

  - uses: ruby/install
    with:
      gem: ${{vars.gem}}
      version: ${{package.version}}

  - uses: ruby/clean

vars:
  gem: prometheus-client

update:
  enabled: true
  github:
    identifier: prometheus/client_ruby
    strip-prefix: v
