[mysqladmin]
user=

[mysqld]
skip_name_resolve
explicit_defaults_for_timestamp
basedir=/opt/iamguarded/mysql
port=3306
tmpdir=/opt/iamguarded/mysql/tmp
socket=/opt/iamguarded/mysql/tmp/mysql.sock
pid_file=/opt/iamguarded/mysql/tmp/mysqld.pid
max_allowed_packet=16M
bind_address=0.0.0.0
log_error=/opt/iamguarded/mysql/logs/mysqld.log
slow_query_log=0
long_query_time=10.0
character_set_server=utf8mb4
plugin_dir=/opt/iamguarded/mysql/lib/plugin
datadir=/iamguarded/mysql/data

[client]
port=3306
socket=/opt/iamguarded/mysql/tmp/mysql.sock
default_character_set=utf8mb4
plugin_dir=/opt/iamguarded/mysql/lib/plugin

[manager]
port=3306
socket=/opt/iamguarded/mysql/tmp/mysql.sock
pid_file=/opt/iamguarded/mysql/tmp/mysqld.pid
