[Unit]
Description=Configure NVIDIA Container Toolkit for Docker
Documentation=https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/
Before=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-ctk runtime configure --runtime=docker
RemainAfterExit=yes

[Install]
WantedBy=docker.service
