[Unit]
Description=Configure NVIDIA Container Toolkit for CRI-O
Documentation=https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/
Before=crio.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-ctk runtime configure --runtime=crio
RemainAfterExit=yes

[Install]
WantedBy=crio.service
