[Unit]
Description=Generate NVIDIA CDI specification
Documentation=https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/
Before=containerd.service docker.service crio.service
ConditionPathExists=/dev/nvidiactl

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /var/run/cdi
ExecStart=/usr/bin/nvidia-ctk cdi generate --output=/var/run/cdi/nvidia.yaml
RemainAfterExit=yes

[Install]
WantedBy=containerd.service docker.service crio.service
