[Unit]
Description=Configure NVIDIA Container Toolkit for containerd
Documentation=https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/
Before=containerd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-ctk runtime configure --runtime=containerd
RemainAfterExit=yes

[Install]
WantedBy=containerd.service
