config_diagnostics = 1
openssl_conf = openssl_init

[default]
CHAINGUARD_LEGACY_ALLOWED = 1

[openssl_init]
providers = provider_sect

[provider_sect]
base = base_sect
legacy = legacy_sect

[base_sect]
activate = 1

[legacy_sect]
activate = $ENV::CHAINGUARD_LEGACY_ALLOWED
