# Optimisations
-O2

# tl;dr
# https://best.openssf.org/Compiler-Hardening-Guides/Compiler-Options-Hardening-Guide-for-C-and-C++.html#tldr-what-compiler-options-should-i-use

# NB! Skip, huge build logs and lots of failures due to -Werror
#-Wall -Wformat -Wformat=2 -Wconversion -Wimplicit-fallthrough

# NB! Skip for now, likely to generate many build failures
# -Werror=format-security

-U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=3
-D_GLIBCXX_ASSERTIONS

# Skip for now, likely to cause build failures
# -fstrict-flex-arrays=3

-fstack-clash-protection -fstack-protector-strong

# NB! Skip likely to be used very often
# -Wl,-z,nodlopen

-Wl,--as-needed,-O1,--sort-common
-Wl,-z,noexecstack
-Wl,-z,relro -Wl,-z,now

# production code
-fno-delete-null-pointer-checks -fno-strict-overflow -fno-strict-aliasing -ftrivial-auto-var-init=zero

# enable stack pointers for profiling
-fno-omit-frame-pointer -mno-omit-leaf-frame-pointer

@oldglibc.cfg
