# Comment out the next line to ignore configuration errors
config_diagnostics = 1

openssl_conf = openssl_init

# Include hardened configuration for ca & req apps
.include /etc/ssl/ca.cnf

[openssl_init]
random = random

[random]
seed = SEED-SRC
