# Support overriding with OPENSSL_CONF_INCLUDE
.pragma includedir:/etc/ssl

config_diagnostics = 1
openssl_conf = openssl_init

# Include hardened configuration for ca & req apps
.include ca.cnf

[openssl_init]
providers = provider_sect
ssl_conf = ssl_module

[provider_sect]
default = default_sect

[default_sect]
activate = 1

[ssl_module]
system_default = crypto_policy

# As per RFC 9325, equivalent to:
# openssl ciphers -stdname 'DEFAULT:!PSK:!DHE:!CBC:!kRSA:!SHA1:@SECLEVEL=2'
# Supports pure-PQC and hybrid key-exchange
# Supports AES and CHACHA20 ciphers
# Supports MLDSA, ECDSA, EdDSA, and RSA keys
[crypto_policy]

TLS.MaxProtocol = TLSv1.3
TLS.MinProtocol = TLSv1.2

DTLS.MaxProtocol = DTLSv1.2
DTLS.MinProtocol = DTLSv1.2

Groups = \
    X25519MLKEM768:SecP256r1MLKEM768 / \
    MLKEM1024:SecP384r1MLKEM1024 / \
    *x25519:secp256r1 / \
    x448:secp384r1:secp521r1

Ciphersuites = TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256

CipherString = \
        TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384:\
        TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384:\
        TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256:\
        TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256:\
        TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256:\
        TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256:\
        @SECLEVEL=2

SignatureAlgorithms = \
    mldsa65:mldsa87:mldsa44:\
    ecdsa_secp256r1_sha256:ecdsa_secp384r1_sha384:ecdsa_secp521r1_sha512:\
    ed25519:ed448:\
    rsa_pss_pss_sha256:rsa_pss_rsae_sha256:rsa_pkcs1_sha256:\
    rsa_pss_pss_sha384:rsa_pss_rsae_sha384:rsa_pkcs1_sha384:\
    rsa_pss_pss_sha512:rsa_pss_rsae_sha512:rsa_pkcs1_sha512
