# Based on https://github.com/kubeflow/pipelines/blob/${{package.version}}/backend/src/apiserver/visualization/requirements.in
bokeh==2.3.2
gcsfs==0.2.3
google-api-python-client==1.7.*
itables==0.1.0
ipykernel==6.29.5
ipython==7.34.0
Jinja2>=3.1.2,<4
jupyter-client==8.6.3
markupsafe==2.1.1
nbconvert==7.16.5
nbformat==5.10.4
scikit-learn==1.5.2
tensorflow==2.16.2
tensorflow-metadata==1.16.*
tensorflow-model-analysis==0.47.*
tensorflow-data-validation==1.16.*
tensorflow-serving-api==2.14.1
tornado==6.*

# CVE Fixes / Other Fixes
numpy==1.23.5
pyarrow-hotfix==0.*
