name: Approve PR from approver-bot

on:
  pull_request:
    types:
      - labeled

permissions: {}

jobs:
  approve:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    if: github.event.label.name == 'approver-bot/approve'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Review PR
        run: |
          curl \
            -o review_output.json \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
              https://api.github.com/repos/"${{ github.repository }}"/pulls/"${{ github.event.pull_request.number}}"/reviews
      - name: Approve PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
              /repos/"${{ github.repository }}"/pulls/"${{ github.event.pull_request.number}}"/reviews/"$(jq -r '.id' review_output.json)"/events \
            -f event='APPROVE'
