name: Delete old branches

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  cleanup_old_branches:
    runs-on: ubuntu-latest
    if: github.repository == 'wolfi-dev/os'
    permissions:
      id-token: write # To gitsign and federate
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: octo-sts/action@f603d3be9d8dd9871a265776e625a27b00effe05 # v1.1.1
        id: octo-sts
        with:
          scope: ${{ github.repository }}
          identity: delete-branches
      # this need to point to main to always get the latest action
      - uses: wolfi-dev/actions/install-wolfictl@main # main
      - name: Delete Branches
        run: |
          wolfictl gh gc branch https://github.com/wolfi-dev/os --match "wolfictl-"
        env:
          GITHUB_TOKEN: ${{ steps.octo-sts.outputs.token }}
