name: Image digest update

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  image-update:
    name: Image digest update
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      id-token: write
      actions: write

    steps:
    - uses: actions/checkout@v3
    - uses: chainguard-dev/actions/digesta-bot@main
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
