name: Image digest update

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  image-update:
    name: Image digest update
    runs-on: ubuntu-latest
    if: github.repository == 'wolfi-dev/os'

    permissions:
      contents: read # To clone the repo
      id-token: write # To gitsign and federate

    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

    - uses: chainguard-dev/actions/octo-sts@main
      id: octo-sts
      with:
        scope: ${{ github.repository }}
        identity: digestabot

    - uses: chainguard-dev/actions/digesta-bot@main
      with:
        token: ${{ steps.octo-sts.outputs.token }}
