name: 'Close stale'

on:
  schedule:
    - cron: '0 1 * * *'

permissions:
  contents: read

jobs:
  stale:
    # These are the permissions recommended by github.
    permissions:
      issues: write
      pull-requests: write
    runs-on: 'ubuntu-latest'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit
      - uses: actions/stale@5bef64f19d7facfb25b37b414482c7164d639639 # v9.1.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-pr-message: |-
            This Pull Request is stale because it has been open for 90 days with
            no activity. It will automatically close after 30 more days of
            inactivity. Keep fresh with the 'lifecycle/frozen' label.
          stale-pr-label: 'lifecycle/stale'
          exempt-pr-labels: 'lifecycle/frozen'
          days-before-stale: 90
          days-before-close: 30
