name: Update prod cache of build materials

on:
  workflow_dispatch:
  # Triggers the workflow every six hours
  schedule:
    - cron: "0 */6 * * *"

env:
  PROJECT: prod-images-c6e5
  FQ_SERVICE_ACCOUNT: prod-images-ci@prod-images-c6e5.iam.gserviceaccount.com
  SOURCE_CACHE_BUCKET: wolfi-sources

permissions:
  contents: read

jobs:
  update-cache:
    runs-on: ubuntu-latest
    if: github.repository == 'wolfi-dev/os'
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: chainguard-dev/actions/setup-melange@a643adefc8ec64796d92837210be6bf0a6d0788e # main
      - uses: google-github-actions/auth@ba79af03959ebeac9769e648f473a284504d9193 # v2.1.10
        with:
          workload_identity_provider: "projects/618116202522/locations/global/workloadIdentityPools/prod-shared-e350/providers/prod-shared-gha"
          service_account: ${{env.FQ_SERVICE_ACCOUNT}}
      - uses: google-github-actions/setup-gcloud@6189d56e4096ee891640bb02ac264be376592d6a # v2.1.2
        with:
          project_id: ${{env.PROJECT}}
      - name: 'Update cache of build materials for all packages'
        run: |
          for cfg in $(ls -1 | grep '.*\.yaml'); do
            echo "Updating cache for ${cfg}...";
            melange update-cache --cache-dir gs://${{env.SOURCE_CACHE_BUCKET}}/ "${cfg}" || true;
          done
