name: Wolfictl Update From GitHub

on:
  workflow_dispatch:
  # Triggers the workflow every hour
  schedule:
    - cron: "0 * * * *"

permissions:
  contents: write
  pull-requests: write

env:
  GIT_AUTHOR_NAME: wolfi-bot
  GIT_AUTHOR_EMAIL: 121097084+wolfi-bot@users.noreply.github.com

jobs:
  update:
    name: Wolfictl Update
    if: github.repository == 'wolfi-dev/os'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: docker://ghcr.io/wolfi-dev/wolfictl:latest@sha256:1f0e287a1abc2e7072eda240fd965a307a07eba9d0579b0c595b80689b3c0fea
      with:
        entrypoint: wolfictl
        args: update https://github.com/${{github.repository}} --release-monitoring-query=false --github-labels request-version-update --github-labels "automated pr"
      env:
        GITHUB_TOKEN: ${{ secrets.WOLFI_BOT_CLASSIC_PAT }}
        GIT_AUTHOR_NAME: ${{ env.GIT_AUTHOR_NAME }}
        GIT_AUTHOR_EMAIL: ${{ env.GIT_AUTHOR_EMAIL }}
