name: Wolfictl Lint

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - gh-readonly-queue/main/**

permissions:
  contents: read

jobs:
  lint:
    name: Wolfictl Lint
    runs-on: ubuntu-latest
    if: github.repository == 'wolfi-dev/os'
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      # this need to point to main to always get the latest action
      - uses: wolfi-dev/actions/wolfictl-lint@main # main
