name: Wolfictl Lint

on:
  pull_request:
    branches: ['main']
  push:
    branches:
      - gh-readonly-queue/main/**

jobs:
  lint:
    name: Wolfictl Lint
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v3
    - name: Lint
      id: lint
      uses: docker://ghcr.io/wolfi-dev/wolfictl:latest@sha256:f87f240a5386b3655b1cc27a3be3d5098b3336cf4aea359725b59d78ba007690
      with:
        entrypoint: wolfictl
        args: lint --skip-rule no-makefile-entry-for-package
    - name: Enforce YAML formatting
      id: lint-yaml
      uses: docker://ghcr.io/wolfi-dev/wolfictl:latest@sha256:f87f240a5386b3655b1cc27a3be3d5098b3336cf4aea359725b59d78ba007690
      with:
        entrypoint: wolfictl
        args: lint yam
