name: Wolfictl Update From Release Monitor

on:
  # Triggers the workflow daily at 4:30pm UTC
  schedule:
    - cron: "30 16 * * *"

permissions:
  contents: write
  pull-requests: write

env:
  GIT_AUTHOR_NAME: wolfi-bot
  GIT_AUTHOR_EMAIL: 121097084+wolfi-bot@users.noreply.github.com

jobs:
  lint:
    name: Wolfictl Update
    runs-on: ubuntu-latest

    steps:
    - uses: docker://ghcr.io/wolfi-dev/wolfictl:latest
      with:
        entrypoint: wolfictl
        args: update https://github.com/${{github.repository}} --github-release-query=false
      env:
        GITHUB_TOKEN: ${{ secrets.WOLFI_BOT_CLASSIC_PAT }}
        GIT_AUTHOR_NAME: ${{ env.GIT_AUTHOR_NAME }}
        GIT_AUTHOR_EMAIL: ${{ env.GIT_AUTHOR_EMAIL }}