name: Wolfictl Update From GitHub

on:
  # Triggers the workflow every hour
  schedule:
    - cron: "0 * * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  lint:
    name: Wolfictl Update
    runs-on: ubuntu-latest

    steps:
    - uses: wolfi-dev/wolfictl/.github/actions@main
    - run: |
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
    - run: wolfictl update https://github.com/${{github.repository}} --release-monitoring-query=false
      env:
        GITHUB_TOKEN: ${{ secrets.WOLFI_BOT_FINE_GRAINED_PAT }}